/* logos intro*/
.cell {
  margin: auto;
  text-align: center;
}
#logo {
  display: block;
  background: url(images/logoGoddy.svg) no-repeat top left;
  height: 22em;
  width: 14.1em;
  background-size: contain !important;
  margin: auto;
  margin-top: 1%;
}
